body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #333;
}

canvas {
  border: 2px solid #fff;
  background-color: #000;
}